<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>endpointTitle</key>
		<string>champion-v1.2</string>
		<key>endpointRegions</key>
		<array>
			<string>BR</string>
			<string>EUNE</string>
			<string>EUW</string>
			<string>KR</string>
			<string>LAN</string>
			<string>LAS</string>
			<string>NA</string>
			<string>OCE</string>
			<string>RU</string>
			<string>TR</string>
		</array>
		<key>subEndpoints</key>
		<array>
			<dict>
				<key>relativePath</key>
				<string>/api/lol/{region}/v1.2/champion</string>
				<key>description</key>
				<string>Retrieve all champions. (REST)</string>
			</dict>
			<dict>
				<key>relativePath</key>
				<string>/api/lol/{region}/v1.2/champion/{id}</string>
				<key>description</key>
				<string>Retrieve champion by ID. (REST)</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>endpointTitle</key>
		<string>current-game-v1.0</string>
		<key>endpointRegions</key>
		<array>
			<string>BR</string>
			<string>EUNE</string>
			<string>EUW</string>
			<string>KR</string>
			<string>LAN</string>
			<string>LAS</string>
			<string>NA</string>
			<string>OCE</string>
			<string>PBE</string>
			<string>RU</string>
			<string>TR</string>
		</array>
		<key>subEndpoints</key>
		<array>
			<dict>
				<key>relativePath</key>
				<string>/observer-mode/rest/consumer/getSpectatorGameInfo/{platformId}/{summonerId}</string>
				<key>description</key>
				<string>Get current game information for the given summoner ID. (REST)</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>endpointTitle</key>
		<string>featured-games-v1.0</string>
		<key>endpointRegions</key>
		<array>
			<string>BR</string>
			<string>EUNE</string>
			<string>EUW</string>
			<string>KR</string>
			<string>LAN</string>
			<string>LAS</string>
			<string>NA</string>
			<string>OCE</string>
			<string>PBE</string>
			<string>RU</string>
			<string>TR</string>
		</array>
		<key>subEndpoints</key>
		<array>
			<dict>
				<key>relativePath</key>
				<string>/observer-mode/rest/featured</string>
				<key>description</key>
				<string>Get list of featured games. (REST)</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>endpointTitle</key>
		<string>game-v1.3</string>
		<key>endpointRegions</key>
		<array>
			<string>BR</string>
			<string>EUNE</string>
			<string>EUW</string>
			<string>KR</string>
			<string>LAN</string>
			<string>LAS</string>
			<string>NA</string>
			<string>OCE</string>
			<string>RU</string>
			<string>TR</string>
		</array>
		<key>subEndpoints</key>
		<array>
			<dict>
				<key>relativePath</key>
				<string>/api/lol/{region}/v1.3/game/by-summoner/{summonerId}/recent</string>
				<key>description</key>
				<string>Get recent games by summoner ID. (REST)</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>endpointTitle</key>
		<string>league-v2.5</string>
		<key>endpointRegions</key>
		<array>
			<string>BR</string>
			<string>EUNE</string>
			<string>EUW</string>
			<string>KR</string>
			<string>LAN</string>
			<string>LAS</string>
			<string>NA</string>
			<string>OCE</string>
			<string>RU</string>
			<string>TR</string>
		</array>
		<key>subEndpoints</key>
		<array>
			<dict>
				<key>relativePath</key>
				<string>/api/lol/{region}/v2.5/league/by-summoner/{summonerIds}</string>
				<key>description</key>
				<string>Get leagues mapped by summoner ID for a given list of summoner IDs. (REST)</string>
			</dict>
			<dict>
				<key>relativePath</key>
				<string>/api/lol/{region}/v2.5/league/by-summoner/{summonerIds}/entry</string>
				<key>description</key>
				<string>Get league entries mapped by summoner ID for a given list of summoner IDs. (REST)</string>
			</dict>
			<dict>
				<key>relativePath</key>
				<string>/api/lol/{region}/v2.5/league/by-team/{teamIds}</string>
				<key>description</key>
				<string>Get leagues mapped by team ID for a given list of team IDs. (REST)</string>
			</dict>
			<dict>
				<key>relativePath</key>
				<string>/api/lol/{region}/v2.5/league/by-team/{teamIds}/entry</string>
				<key>description</key>
				<string>Get league entries mapped by team ID for a given list of team IDs. (REST)</string>
			</dict>
			<dict>
				<key>relativePath</key>
				<string>/api/lol/{region}/v2.5/league/challenger</string>
				<key>description</key>
				<string>Get challenger tier leagues. (REST)</string>
			</dict>
			<dict>
				<key>relativePath</key>
				<string>/api/lol/{region}/v2.5/league/master</string>
				<key>description</key>
				<string>Get master tier leagues. (REST)</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>endpointTitle</key>
		<string>lol-static-data-v1.2</string>
		<key>endpointRegions</key>
		<array>
			<string>BR</string>
			<string>EUNE</string>
			<string>EUW</string>
			<string>KR</string>
			<string>LAN</string>
			<string>LAS</string>
			<string>NA</string>
			<string>OCE</string>
			<string>PBE</string>
			<string>RU</string>
			<string>TR</string>
		</array>
		<key>subEndpoints</key>
		<array>
			<dict>
				<key>relativePath</key>
				<string>/api/lol/static-data/{region}/v1.2/champion</string>
				<key>description</key>
				<string>Retrieves champion list. (REST)</string>
			</dict>
			<dict>
				<key>relativePath</key>
				<string>/api/lol/static-data/{region}/v1.2/champion/{id}</string>
				<key>description</key>
				<string>Retrieves a champion by its id. (REST)</string>
			</dict>
			<dict>
				<key>relativePath</key>
				<string>/api/lol/static-data/{region}/v1.2/item</string>
				<key>description</key>
				<string>Retrieves item list. (REST)</string>
			</dict>
			<dict>
				<key>relativePath</key>
				<string>/api/lol/static-data/{region}/v1.2/item/{id}</string>
				<key>description</key>
				<string>Retrieves item by its unique id. (REST)</string>
			</dict>
			<dict>
				<key>relativePath</key>
				<string>/api/lol/static-data/{region}/v1.2/language-strings</string>
				<key>description</key>
				<string>Retrieve language strings data. (REST)</string>
			</dict>
			<dict>
				<key>relativePath</key>
				<string>/api/lol/static-data/{region}/v1.2/languages</string>
				<key>description</key>
				<string>Retrieve supported languages data. (REST)</string>
			</dict>
			<dict>
				<key>relativePath</key>
				<string>/api/lol/static-data/{region}/v1.2/map</string>
				<key>description</key>
				<string>Retrieve map data. (REST)</string>
			</dict>
			<dict>
				<key>relativePath</key>
				<string>/api/lol/static-data/{region}/v1.2/mastery</string>
				<key>description</key>
				<string>Retrieves mastery list. (REST)</string>
			</dict>
			<dict>
				<key>relativePath</key>
				<string>/api/lol/static-data/{region}/v1.2/mastery/{id}</string>
				<key>description</key>
				<string>Retrieves mastery item by its unique id. (REST)</string>
			</dict>
			<dict>
				<key>relativePath</key>
				<string>/api/lol/static-data/{region}/v1.2/realm</string>
				<key>description</key>
				<string>Retrieve realm data. (REST)</string>
			</dict>
			<dict>
				<key>relativePath</key>
				<string>/api/lol/static-data/{region}/v1.2/rune</string>
				<key>description</key>
				<string>Retrieves rune list. (REST)</string>
			</dict>
			<dict>
				<key>relativePath</key>
				<string>/api/lol/static-data/{region}/v1.2/rune/{id}</string>
				<key>description</key>
				<string>Retrieves rune by its unique id. (REST)</string>
			</dict>
			<dict>
				<key>relativePath</key>
				<string>/api/lol/static-data/{region}/v1.2/summoner-spell</string>
				<key>description</key>
				<string>Retrieves summoner spell list. (REST)</string>
			</dict>
			<dict>
				<key>relativePath</key>
				<string>/api/lol/static-data/{region}/v1.2/summoner-spell/{id}</string>
				<key>description</key>
				<string>Retrieves summoner spell by its unique id. (REST)</string>
			</dict>
			<dict>
				<key>relativePath</key>
				<string>/api/lol/static-data/{region}/v1.2/versions</string>
				<key>description</key>
				<string>Retrieve version data. (REST)</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>endpointTitle</key>
		<string>lol-status-v1.0</string>
		<key>endpointRegions</key>
		<array>
			<string>BR</string>
			<string>EUNE</string>
			<string>EUW</string>
			<string>KR</string>
			<string>LAN</string>
			<string>LAS</string>
			<string>NA</string>
			<string>OCE</string>
			<string>PBE</string>
			<string>RU</string>
			<string>TR</string>
		</array>
		<key>subEndpoints</key>
		<array>
			<dict>
				<key>relativePath</key>
				<string>/shards</string>
				<key>description</key>
				<string>Get shard list. (REST)</string>
			</dict>
			<dict>
				<key>relativePath</key>
				<string>/shards/{region}</string>
				<key>description</key>
				<string>Get shard status. Returns the data available on the status.leagueoflegends.com website for the given region. (REST)</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>endpointTitle</key>
		<string>match-v2.2</string>
		<key>endpointRegions</key>
		<array>
			<string>BR</string>
			<string>EUNE</string>
			<string>EUW</string>
			<string>KR</string>
			<string>LAN</string>
			<string>LAS</string>
			<string>NA</string>
			<string>OCE</string>
			<string>RU</string>
			<string>TR</string>
		</array>
		<key>subEndpoints</key>
		<array>
			<dict>
				<key>relativePath</key>
				<string>/api/lol/{region}/v2.2/match/{matchId}</string>
				<key>description</key>
				<string>Retrieve match by match ID. (REST)</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>endpointTitle</key>
		<string>matchhistory-v2.2</string>
		<key>endpointRegions</key>
		<array>
			<string>BR</string>
			<string>EUNE</string>
			<string>EUW</string>
			<string>KR</string>
			<string>LAN</string>
			<string>LAS</string>
			<string>NA</string>
			<string>OCE</string>
			<string>RU</string>
			<string>TR</string>
		</array>
		<key>subEndpoints</key>
		<array>
			<dict>
				<key>relativePath</key>
				<string>/api/lol/{region}/v2.2/matchhistory/{summonerId}</string>
				<key>description</key>
				<string>Retrieve match history by summoner ID. (REST)</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>endpointTitle</key>
		<string>stats-v1.3</string>
		<key>endpointRegions</key>
		<array>
			<string>BR</string>
			<string>EUNE</string>
			<string>EUW</string>
			<string>KR</string>
			<string>LAN</string>
			<string>LAS</string>
			<string>NA</string>
			<string>OCE</string>
			<string>RU</string>
			<string>TR</string>
		</array>
		<key>subEndpoints</key>
		<array>
			<dict>
				<key>relativePath</key>
				<string>/api/lol/{region}/v1.3/stats/by-summoner/{summonerId}/ranked</string>
				<key>description</key>
				<string>Get ranked stats by summoner ID. (REST)</string>
			</dict>
			<dict>
				<key>relativePath</key>
				<string>/api/lol/{region}/v1.3/stats/by-summoner/{summonerId}/summary</string>
				<key>description</key>
				<string>Get player stats summaries by summoner ID. (REST)</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>endpointTitle</key>
		<string>summoner-v1.4</string>
		<key>endpointRegions</key>
		<array>
			<string>BR</string>
			<string>EUNE</string>
			<string>EUW</string>
			<string>KR</string>
			<string>LAN</string>
			<string>LAS</string>
			<string>NA</string>
			<string>OCE</string>
			<string>RU</string>
			<string>TR</string>
		</array>
		<key>subEndpoints</key>
		<array>
			<dict>
				<key>relativePath</key>
				<string>/api/lol/{region}/v1.4/summoner/by-name/{summonerNames}</string>
				<key>description</key>
				<string>Get summoner objects mapped by standardized summoner name for a given list of summoner names. (REST)</string>
			</dict>
			<dict>
				<key>relativePath</key>
				<string>/api/lol/{region}/v1.4/summoner/{summonerIds}</string>
				<key>description</key>
				<string>Get summoner objects mapped by summoner ID for a given list of summoner IDs. (REST)</string>
			</dict>
			<dict>
				<key>relativePath</key>
				<string>/api/lol/{region}/v1.4/summoner/{summonerIds}/masteries</string>
				<key>description</key>
				<string>Get mastery pages mapped by summoner ID for a given list of summoner IDs (REST)</string>
			</dict>
			<dict>
				<key>relativePath</key>
				<string>/api/lol/{region}/v1.4/summoner/{summonerIds}/name</string>
				<key>description</key>
				<string>Get summoner names mapped by summoner ID for a given list of summoner IDs. (REST)</string>
			</dict>
			<dict>
				<key>relativePath</key>
				<string>/api/lol/{region}/v1.4/summoner/{summonerIds}/runes</string>
				<key>description</key>
				<string>Get rune pages mapped by summoner ID for a given list of summoner IDs. (REST)</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>endpointTitle</key>
		<string>team-v2.4</string>
		<key>endpointRegions</key>
		<array>
			<string>BR</string>
			<string>EUNE</string>
			<string>EUW</string>
			<string>KR</string>
			<string>LAN</string>
			<string>LAS</string>
			<string>NA</string>
			<string>OCE</string>
			<string>RU</string>
			<string>TR</string>
		</array>
		<key>subEndpoints</key>
		<array>
			<dict>
				<key>relativePath</key>
				<string>/api/lol/{region}/v2.4/team/by-summoner/{summonerIds}</string>
				<key>description</key>
				<string>Get teams mapped by summoner ID for a given list of summoner IDs. (REST)</string>
			</dict>
			<dict>
				<key>relativePath</key>
				<string>/api/lol/{region}/v2.4/team/{teamIds}</string>
				<key>description</key>
				<string>Get teams mapped by team ID for a given list of team IDs. (REST)</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
